div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;;
  background-color:red;
  border:1px solid red;
  border-radius:30px 30px;
  text-align: center;
  padding: 14px;
  margin:4px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

@font-face{ font-family:i; src:url(i.ttf)format("truetype") }

@font-face{ font-family:menu; src:url(menu.ttf)format("truetype") }

@font-face{ font-family:head; src:url(head.ttf)format("truetype") } 

@font-face{ font-family:ib; src:url(ib.ttf)format("truetype") }
p{font-family:i;}




#myMenu { list-style-type: none; padding: 0; margin: 0;}

#mySearch { width: 90%; margin-left:3px; margin:2px;box-shadow:2px 2px red;border-radius:40px 40px;}



h6{display:none;}

a{text-decoration:none;}

header{background-color:white;position:sticky;top:0;font-family:sans-serif-smallcaps;margin:0px;color:red;}	

h1{font-family:menu;text-align:center;}

marquee p{font-size:20px;}

h3{font-family:head;}


#result{color:red;font-family:head;}
#head{border: none; border-radius: 40px 10px; background:#DCEDC8 ;}
#wishes{font-family:i;}
div.item {color:white;background: linear-gradient(360deg, #fd6f46 10%, #33691E 90%); }
table {
  font-family:sans-serif-smallcaps;
 font-size:15px;
  border: 1px solid red;
  border-collapse: collapse;
  background-color: #D4EED1;
  width: 100%;
  text-align: left;
  margin:1px;
}
td{border: 1px solid red;padding:10px;}
th{border: 1px solid red;padding:10px;font-family:i;}


div.section{border: 1px solid red;margin:20px;border-radius:20px;}
div.section li{background-color:white;box-shadow:0px 0px 0px #616161;}
div.section a{color:red;font-family:sans-serif-smallcaps;font-size:20px;}
div.section h4{color:white;text-align:center; background-color:red;margin:0px;border-radius:20px;}
li.section{margin:0px;}
li.section h3{font-family:head;margin:0px; background-color:red;color:white;font-size:20px;}
li.section p{font-size:20px;}
li.section h1{background-color:green;color:white;margin:0px;font-family:sans-serif-smallcaps;font-size:20px;}
li.menu {background-color:red;}
li.menu a{color:white;text-align:center;}
div.set{border:2px solid black;margin:5px;padding:10px;font-size:20px;}
footer{color:red;text-align:center;}
li.set h3{background-color:red;color:white;text-align:center;font-family:head;font-size:30px;}
li.sim h3{color:green;font-size:29px;text-align:center;}
li.usd {box-shadow:5px 5px solid black;border:1px solid black;border-radius:10px 10px;}
li.usd h3 {color:brown;font-size:20px;text-align:center;font-family:head;}
li.usd p{font-size:20px;text-align:center;}
li.usd h4{background-color:green;color:white;font-family:i;margin:0px;text-align:center;font-size:20px;border-radius:10px 10px;}
li.ccn{border:1px solid black;margin:20px;box-shadow:1px 1px 1px 1px black;}
li.ccn h2{background-color:brown;color:white;font-family:head;text-align:center;font-size:20px;margin:0px;}
li.ccn h4{background-color:green;color:white;font-family:head;margin:12px;text-align:center;font-size:20px;border-radius:10px;}
li.ccn p{font-family:i;text-align:center;font-size:20px;}
strong{color:blue;font-family:i;}
li.home{box-shadow:2px 2px 2px 2px black;margin:10px;}
li.home h2{font-family:ib; background-color:brown;color:white;}
li.home p{font-size:20px;}
li.home h5{color:blue;font-family:head;text-align:right;font-size:20px;padding:0px;}
footer{ background-color:red;color:white;font-family:i;}
li.call h4{background-color:green;color:white;font-family:head;margin:12px;text-align:center;font-size:20px;border-radius:10px;}
